In [1]:
import pyspark

In [ ]:
https://docs.delta.io/latest/quick-start.html#set-up-apache-spark-with-delta-lake

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [4]:
spark

In [5]:
df =  spark.read.csv('/home/rijin/Documents/project/python-su/data/FuelConsumption.csv')

In [6]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string]

In [7]:
df.show(5)

+---------+-----+----------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+--------------------+------------+
|      _c0|  _c1|       _c2|         _c3|       _c4|      _c5|         _c6|     _c7|                 _c8|                _c9|                _c10|                _c11|        _c12|
+---------+-----+----------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+--------------------+------------+
|MODELYEAR| MAKE|     MODEL|VEHICLECLASS|ENGINESIZE|CYLINDERS|TRANSMISSION|FUELTYPE|FUELCONSUMPTION_CITY|FUELCONSUMPTION_HWY|FUELCONSUMPTION_COMB|FUELCONSUMPTION_C...|CO2EMISSIONS|
|     2014|ACURA|       ILX|     COMPACT|         2|        4|         AS5|       Z|                 9.9|                6.7|                 8.5|                  33|         196|
|     2014|ACURA|       ILX|     COMPACT|       2.4|        4|          M6|       Z|                11.2|                7.7|                 9.6|                  29|         221|
|     2014|ACURA|ILX HYBRID|     COMPACT|       1.5|        4|         AV7|       Z|                   6|                5.8|                 5.9|                  48|         136|
|     2014|ACURA|   MDX 4WD| SUV - SMALL|       3.5|        6|         AS6|       Z|                12.7|                9.1|                11.1|                  25|         255|
+---------+-----+----------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+--------------------+------------+
only showing top 5 rows

In [8]:
#read the data and seting the first column as the header name
df_new = spark.read.option('header','true').csv('/home/rijin/Documents/project/python-su/data/FuelConsumption.csv')

In [9]:
df_new.show(5)

+---------+-----+----------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+------------------------+------------+
|MODELYEAR| MAKE|     MODEL|VEHICLECLASS|ENGINESIZE|CYLINDERS|TRANSMISSION|FUELTYPE|FUELCONSUMPTION_CITY|FUELCONSUMPTION_HWY|FUELCONSUMPTION_COMB|FUELCONSUMPTION_COMB_MPG|CO2EMISSIONS|
+---------+-----+----------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+------------------------+------------+
|     2014|ACURA|       ILX|     COMPACT|         2|        4|         AS5|       Z|                 9.9|                6.7|                 8.5|                      33|         196|
|     2014|ACURA|       ILX|     COMPACT|       2.4|        4|          M6|       Z|                11.2|                7.7|                 9.6|                      29|         221|
|     2014|ACURA|ILX HYBRID|     COMPACT|       1.5|        4|         AV7|       Z|                   6|                5.8|                 5.9|                      48|         136|
|     2014|ACURA|   MDX 4WD| SUV - SMALL|       3.5|        6|         AS6|       Z|                12.7|                9.1|                11.1|                      25|         255|
|     2014|ACURA|   RDX AWD| SUV - SMALL|       3.5|        6|         AS6|       Z|                12.1|                8.7|                10.6|                      27|         244|
+---------+-----+----------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+------------------------+------------+
only showing top 5 rows

In [10]:
df_new.head(2)

[Row(MODELYEAR='2014', MAKE='ACURA', MODEL='ILX', VEHICLECLASS='COMPACT', ENGINESIZE='2', CYLINDERS='4', TRANSMISSION='AS5', FUELTYPE='Z', FUELCONSUMPTION_CITY='9.9', FUELCONSUMPTION_HWY='6.7', FUELCONSUMPTION_COMB='8.5', FUELCONSUMPTION_COMB_MPG='33', CO2EMISSIONS='196'),
 Row(MODELYEAR='2014', MAKE='ACURA', MODEL='ILX', VEHICLECLASS='COMPACT', ENGINESIZE='2.4', CYLINDERS='4', TRANSMISSION='M6', FUELTYPE='Z', FUELCONSUMPTION_CITY='11.2', FUELCONSUMPTION_HWY='7.7', FUELCONSUMPTION_COMB='9.6', FUELCONSUMPTION_COMB_MPG='29', CO2EMISSIONS='221')]

In [11]:
#similer with df.info in pandas
df_new.printSchema()

root
 |-- MODELYEAR: string (nullable = true)
 |-- MAKE: string (nullable = true)
 |-- MODEL: string (nullable = true)
 |-- VEHICLECLASS: string (nullable = true)
 |-- ENGINESIZE: string (nullable = true)
 |-- CYLINDERS: string (nullable = true)
 |-- TRANSMISSION: string (nullable = true)
 |-- FUELTYPE: string (nullable = true)
 |-- FUELCONSUMPTION_CITY: string (nullable = true)
 |-- FUELCONSUMPTION_HWY: string (nullable = true)
 |-- FUELCONSUMPTION_COMB: string (nullable = true)
 |-- FUELCONSUMPTION_COMB_MPG: string (nullable = true)
 |-- CO2EMISSIONS: string (nullable = true)

In [12]:
model = df_new.select('MODEL')

In [13]:
#selecting multiple column
df_new.select(['MAKE','MODEL','VEHICLECLASS']).show()

+------------+------------+------------+
|        MAKE|       MODEL|VEHICLECLASS|
+------------+------------+------------+
|       ACURA|         ILX|     COMPACT|
|       ACURA|         ILX|     COMPACT|
|       ACURA|  ILX HYBRID|     COMPACT|
|       ACURA|     MDX 4WD| SUV - SMALL|
|       ACURA|     RDX AWD| SUV - SMALL|
|       ACURA|         RLX|    MID-SIZE|
|       ACURA|          TL|    MID-SIZE|
|       ACURA|      TL AWD|    MID-SIZE|
|       ACURA|      TL AWD|    MID-SIZE|
|       ACURA|         TSX|     COMPACT|
|       ACURA|         TSX|     COMPACT|
|       ACURA|         TSX|     COMPACT|
|ASTON MARTIN|         DB9| MINICOMPACT|
|ASTON MARTIN|      RAPIDE|  SUBCOMPACT|
|ASTON MARTIN|  V8 VANTAGE|  TWO-SEATER|
|ASTON MARTIN|  V8 VANTAGE|  TWO-SEATER|
|ASTON MARTIN|V8 VANTAGE S|  TWO-SEATER|
|ASTON MARTIN|V8 VANTAGE S|  TWO-SEATER|
|ASTON MARTIN|    VANQUISH| MINICOMPACT|
|        AUDI|          A4|     COMPACT|
+------------+------------+------------+
only showing top 20 rows

In [14]:
#checking data type
df_new.dtypes

[('MODELYEAR', 'string'),
 ('MAKE', 'string'),
 ('MODEL', 'string'),
 ('VEHICLECLASS', 'string'),
 ('ENGINESIZE', 'string'),
 ('CYLINDERS', 'string'),
 ('TRANSMISSION', 'string'),
 ('FUELTYPE', 'string'),
 ('FUELCONSUMPTION_CITY', 'string'),
 ('FUELCONSUMPTION_HWY', 'string'),
 ('FUELCONSUMPTION_COMB', 'string'),
 ('FUELCONSUMPTION_COMB_MPG', 'string'),
 ('CO2EMISSIONS', 'string')]

In [15]:
df_new.describe().show()

+-------+---------+-----+----------+---------------+------------------+------------------+------------+--------+--------------------+-------------------+--------------------+------------------------+-----------------+
|summary|MODELYEAR| MAKE|     MODEL|   VEHICLECLASS|        ENGINESIZE|         CYLINDERS|TRANSMISSION|FUELTYPE|FUELCONSUMPTION_CITY|FUELCONSUMPTION_HWY|FUELCONSUMPTION_COMB|FUELCONSUMPTION_COMB_MPG|     CO2EMISSIONS|
+-------+---------+-----+----------+---------------+------------------+------------------+------------+--------+--------------------+-------------------+--------------------+------------------------+-----------------+
|  count|     1067| 1067|      1067|           1067|              1067|              1067|        1067|    1067|                1067|               1067|                1067|                    1067|             1067|
|   mean|   2014.0| null|     300.0|           null|3.3462980318650346| 5.794751640112465|        null|    null|  13.296532333645752|   9.47460168697282|  11.580880974695416|      26.441424554826618|256.2286785379569|
| stddev|      0.0| null|      null|           null|1.4158950514240645|1.7974472750409625|        null|    null|   4.101253317068338|  2.794510449885405|    3.48559484963484|       7.468701989863618|63.37230444279997|
|    min|     2014|ACURA|1500 (MDS)|        COMPACT|                 1|                10|          A4|       D|                  10|                 10|                  10|                      11|              108|
|    max|     2014|VOLVO|        xD|VAN - PASSENGER|               8.4|                 8|          M7|       Z|                 9.9|                9.9|                 9.9|                      60|              488|
+-------+---------+-----+----------+---------------+------------------+------------------+------------+--------+--------------------+-------------------+--------------------+------------------------+-----------------+

In [16]:
#adding column in data frame
df_ = df_new.withColumn('MODELYEAR_after5',df_new['MODELYEAR']+5)

In [17]:
df_

DataFrame[MODELYEAR: string, MAKE: string, MODEL: string, VEHICLECLASS: string, ENGINESIZE: string, CYLINDERS: string, TRANSMISSION: string, FUELTYPE: string, FUELCONSUMPTION_CITY: string, FUELCONSUMPTION_HWY: string, FUELCONSUMPTION_COMB: string, FUELCONSUMPTION_COMB_MPG: string, CO2EMISSIONS: string, MODELYEAR_after5: double]

In [18]:
#drop a column
df_new =  df_.drop('MODELYEAR_after5')

In [19]:
#rename column name
df_new.withColumnRenamed('MODELYEAR','modyear')

DataFrame[modyear: string, MAKE: string, MODEL: string, VEHICLECLASS: string, ENGINESIZE: string, CYLINDERS: string, TRANSMISSION: string, FUELTYPE: string, FUELCONSUMPTION_CITY: string, FUELCONSUMPTION_HWY: string, FUELCONSUMPTION_COMB: string, FUELCONSUMPTION_COMB_MPG: string, CO2EMISSIONS: string]

In [20]:
#to remove null values
df_new.dropna()

DataFrame[MODELYEAR: string, MAKE: string, MODEL: string, VEHICLECLASS: string, ENGINESIZE: string, CYLINDERS: string, TRANSMISSION: string, FUELTYPE: string, FUELCONSUMPTION_CITY: string, FUELCONSUMPTION_HWY: string, FUELCONSUMPTION_COMB: string, FUELCONSUMPTION_COMB_MPG: string, CO2EMISSIONS: string]

In [21]:
#thresh is ussed to check if any 2 or mor null values  in the df then that is removed
df_new.na.drop(how ='any',thresh =2)

DataFrame[MODELYEAR: string, MAKE: string, MODEL: string, VEHICLECLASS: string, ENGINESIZE: string, CYLINDERS: string, TRANSMISSION: string, FUELTYPE: string, FUELCONSUMPTION_CITY: string, FUELCONSUMPTION_HWY: string, FUELCONSUMPTION_COMB: string, FUELCONSUMPTION_COMB_MPG: string, CO2EMISSIONS: string]

In [22]:
# any nan values in the specific column it will be deleted
df_new.na.drop(how ='any',subset  = ['MODEL'])

DataFrame[MODELYEAR: string, MAKE: string, MODEL: string, VEHICLECLASS: string, ENGINESIZE: string, CYLINDERS: string, TRANSMISSION: string, FUELTYPE: string, FUELCONSUMPTION_CITY: string, FUELCONSUMPTION_HWY: string, FUELCONSUMPTION_COMB: string, FUELCONSUMPTION_COMB_MPG: string, CO2EMISSIONS: string]

In [23]:
# add values in position of mising value
df_new.na.fill('value is missing')

DataFrame[MODELYEAR: string, MAKE: string, MODEL: string, VEHICLECLASS: string, ENGINESIZE: string, CYLINDERS: string, TRANSMISSION: string, FUELTYPE: string, FUELCONSUMPTION_CITY: string, FUELCONSUMPTION_HWY: string, FUELCONSUMPTION_COMB: string, FUELCONSUMPTION_COMB_MPG: string, CO2EMISSIONS: string]

# filtering

In [24]:
ss= df_new.filter('ENGINESIZE<=5').select(['MAKE','MODEL','ENGINESIZE'])
ss.show(5)

+-----+----------+----------+
| MAKE|     MODEL|ENGINESIZE|
+-----+----------+----------+
|ACURA|       ILX|         2|
|ACURA|       ILX|       2.4|
|ACURA|ILX HYBRID|       1.5|
|ACURA|   MDX 4WD|       3.5|
|ACURA|   RDX AWD|       3.5|
+-----+----------+----------+
only showing top 5 rows

In [25]:
dd = df_new.filter((df_new['ENGINESIZE']<='5')&(df_new['FUELTYPE'] =='Z')).select(['MAKE','MODEL','ENGINESIZE'])
dd.show()

+------------+--------------------+----------+
|        MAKE|               MODEL|ENGINESIZE|
+------------+--------------------+----------+
|       ACURA|                 ILX|         2|
|       ACURA|                 ILX|       2.4|
|       ACURA|          ILX HYBRID|       1.5|
|       ACURA|             MDX 4WD|       3.5|
|       ACURA|             RDX AWD|       3.5|
|       ACURA|                 RLX|       3.5|
|       ACURA|                  TL|       3.5|
|       ACURA|              TL AWD|       3.7|
|       ACURA|              TL AWD|       3.7|
|       ACURA|                 TSX|       2.4|
|       ACURA|                 TSX|       2.4|
|       ACURA|                 TSX|       3.5|
|ASTON MARTIN|          V8 VANTAGE|       4.7|
|ASTON MARTIN|          V8 VANTAGE|       4.7|
|ASTON MARTIN|        V8 VANTAGE S|       4.7|
|ASTON MARTIN|        V8 VANTAGE S|       4.7|
|        AUDI|                  A4|         2|
|        AUDI|          A4 QUATTRO|         2|
|        AUDI|          A4 QUATTRO|         2|
|        AUDI|A5 CABRIOLET QUATTRO|         2|
+------------+--------------------+----------+
only showing top 20 rows

In [26]:
#df_new.filter((df_new['FUELCONSUMPTION_CITY']>='25').select(['MAKE','MODEL','ENGINESIZE'])
df_new.filter('FUELCONSUMPTION_CITY>=25').select(['MAKE','MODEL','ENGINESIZE']).show()

+----------+--------------------+----------+
|      MAKE|               MODEL|ENGINESIZE|
+----------+--------------------+----------+
|  CADILLAC|    ESCALADE ESV AWD|       6.2|
| CHEVROLET|EXPRESS 1500 CARG...|       5.3|
| CHEVROLET|EXPRESS 1500 PASS...|       5.3|
| CHEVROLET|EXPRESS 2500 PASS...|         6|
| CHEVROLET|EXPRESS 3500 PASS...|         6|
|      FORD|      E150 WAGON FFV|       4.6|
|      FORD|      E350 WAGON FFV|       5.4|
|       GMC|SAVANA 1500 CARGO...|       5.3|
|       GMC|SAVANA 1500 PASSE...|       5.3|
|       GMC|SAVANA 2500 PASSE...|         6|
|       GMC|SAVANA 3500 PASSE...|         6|
|       GMC| YUKON DENALI XL AWD|       6.2|
|LAND ROVER|RANGE ROVER LWB V...|         5|
|LAND ROVER|RANGE ROVER V8 5....|         5|
+----------+--------------------+----------+

In [27]:
df_new.filter(~(df_new['CO2EMISSIONS']<='150')).show()

+---------+------------+------------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+------------------------+------------+
|MODELYEAR|        MAKE|       MODEL|VEHICLECLASS|ENGINESIZE|CYLINDERS|TRANSMISSION|FUELTYPE|FUELCONSUMPTION_CITY|FUELCONSUMPTION_HWY|FUELCONSUMPTION_COMB|FUELCONSUMPTION_COMB_MPG|CO2EMISSIONS|
+---------+------------+------------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+------------------------+------------+
|     2014|       ACURA|         ILX|     COMPACT|         2|        4|         AS5|       Z|                 9.9|                6.7|                 8.5|                      33|         196|
|     2014|       ACURA|         ILX|     COMPACT|       2.4|        4|          M6|       Z|                11.2|                7.7|                 9.6|                      29|         221|
|     2014|       ACURA|     MDX 4WD| SUV - SMALL|       3.5|        6|         AS6|       Z|                12.7|                9.1|                11.1|                      25|         255|
|     2014|       ACURA|     RDX AWD| SUV - SMALL|       3.5|        6|         AS6|       Z|                12.1|                8.7|                10.6|                      27|         244|
|     2014|       ACURA|         RLX|    MID-SIZE|       3.5|        6|         AS6|       Z|                11.9|                7.7|                  10|                      28|         230|
|     2014|       ACURA|          TL|    MID-SIZE|       3.5|        6|         AS6|       Z|                11.8|                8.1|                10.1|                      28|         232|
|     2014|       ACURA|      TL AWD|    MID-SIZE|       3.7|        6|         AS6|       Z|                12.8|                  9|                11.1|                      25|         255|
|     2014|       ACURA|      TL AWD|    MID-SIZE|       3.7|        6|          M6|       Z|                13.4|                9.5|                11.6|                      24|         267|
|     2014|       ACURA|         TSX|     COMPACT|       2.4|        4|         AS5|       Z|                10.6|                7.5|                 9.2|                      31|         212|
|     2014|       ACURA|         TSX|     COMPACT|       2.4|        4|          M6|       Z|                11.2|                8.1|                 9.8|                      29|         225|
|     2014|       ACURA|         TSX|     COMPACT|       3.5|        6|         AS5|       Z|                12.1|                8.3|                10.4|                      27|         239|
|     2014|ASTON MARTIN|         DB9| MINICOMPACT|       5.9|       12|          A6|       Z|                  18|               12.6|                15.6|                      18|         359|
|     2014|ASTON MARTIN|      RAPIDE|  SUBCOMPACT|       5.9|       12|          A6|       Z|                  18|               12.6|                15.6|                      18|         359|
|     2014|ASTON MARTIN|  V8 VANTAGE|  TWO-SEATER|       4.7|        8|         AM7|       Z|                17.4|               11.3|                14.7|                      19|         338|
|     2014|ASTON MARTIN|  V8 VANTAGE|  TWO-SEATER|       4.7|        8|          M6|       Z|                18.1|               12.2|                15.4|                      18|         354|
|     2014|ASTON MARTIN|V8 VANTAGE S|  TWO-SEATER|       4.7|        8|         AM7|       Z|                17.4|               11.3|                14.7|                      19|         338|
|     2014|ASTON MARTIN|V8 VANTAGE S|  TWO-SEATER|       4.7|        8|          M6|       Z|                18.1|               12.2|                15.4|                      18|         354|
|     2014|ASTON MARTIN|    VANQUISH| MINICOMPACT|       5.9|       12|          A6|       Z|                  18|               12.6|                15.6|                      18|         359|
|     2014|        AUDI|          A4|     COMPACT|         2|        4|         AV8|       Z|                 9.9|                7.4|                 8.8|                      32|         202|
|     2014|        AUDI|  A4 QUATTRO|     COMPACT|         2|        4|         AS8|       Z|                11.5|                8.1|                  10|                      28|         230|
+---------+------------+------------+------------+----------+---------+------------+--------+--------------------+-------------------+--------------------+------------------------+------------+
only showing top 20 rows

In [44]:
df_new.select('CYLINDERS')

DataFrame[CYLINDERS: string]

In [57]:
# change column type str to int



from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
#import org.apache.spark.sql.types.IntegerType

#output_df = df_cust.withColumn("zip",df_cust["zip"].cast

In [58]:
out = df_new.withColumn('CYLINDERS',df_new['CYLINDERS'].cast(IntegerType()))

In [59]:
out

DataFrame[MODELYEAR: string, MAKE: string, MODEL: string, VEHICLECLASS: string, ENGINESIZE: string, CYLINDERS: int, TRANSMISSION: string, FUELTYPE: string, FUELCONSUMPTION_CITY: string, FUELCONSUMPTION_HWY: string, FUELCONSUMPTION_COMB: string, FUELCONSUMPTION_COMB_MPG: string, CO2EMISSIONS: string]

In [60]:
out.groupby('MODEL').sum('CYLINDERS').show()

+--------------------+--------------+
|               MODEL|sum(CYLINDERS)|
+--------------------+--------------+
|  EXPRESS 1500 CARGO|            22|
|RANGE ROVER EVOQU...|             4|
|HIGHLANDER HYBRID...|             6|
|JETTA TDI CLEAN D...|             8|
|              CAMARO|            12|
| MAZDA3 5-DOOR (SIL)|             4|
|           ROGUE AWD|             4|
|                 S60|             5|
|           R8 SPYDER|            36|
|  EXPEDITION 4X4 FFV|            16|
| Q5 TDI CLEAN DIESEL|             6|
|                  Q7|             6|
|         FLYING SPUR|            12|
|             ORLANDO|             8|
|           SILVERADO|            36|
|             RIO ECO|             4|
|        1500 4X4 FFV|            12|
|               FOCUS|             4|
|               TITAN|             8|
|ML 350 BLUETEC 4M...|             6|
+--------------------+--------------+
only showing top 20 rows

In [62]:
out.groupby('MODEL').count().show()

+--------------------+-----+
|               MODEL|count|
+--------------------+-----+
|  EXPRESS 1500 CARGO|    3|
|RANGE ROVER EVOQU...|    1|
|HIGHLANDER HYBRID...|    1|
|JETTA TDI CLEAN D...|    2|
|              CAMARO|    2|
| MAZDA3 5-DOOR (SIL)|    1|
|           ROGUE AWD|    1|
|                 S60|    1|
|           R8 SPYDER|    4|
|  EXPEDITION 4X4 FFV|    2|
| Q5 TDI CLEAN DIESEL|    1|
|                  Q7|    1|
|         FLYING SPUR|    1|
|             ORLANDO|    2|
|           SILVERADO|    5|
|             RIO ECO|    1|
|        1500 4X4 FFV|    2|
|               FOCUS|    1|
|               TITAN|    1|
|ML 350 BLUETEC 4M...|    1|
+--------------------+-----+
only showing top 20 rows