In [1]:
from pyspark.sql import *

In [5]:
emp = Row('fname','lname','age','email','sal')

In [9]:
e=emp('eera','eaa','23','ssd','230')
a=emp('mera','a','25','ssd','203')
s=emp('jeera','ea','24','ssd','263')
f=emp('heera','paa','26','ssd','267')
g=emp('kyraa','pea','24','ssd','293')
h= emp('teraa','baa','22','ssd','235')

In [8]:
emd1 = Row()