In [1]:
import pyspark

In [ ]:
#https://sparkbyexamples.com/pyspark-tutorial/
#https://sparkbyexamples.com/pyspark-tutorial/#rdd

In [2]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [4]:
data = spark.range(0, 5)

In [5]:
data

DataFrame[id: bigint]

DataFrame is a distributed collection of data organized into named columns. It is conceptually equivalent to a table in a relational database or a data frame in R/Python, but with richer optimizations under the hood. DataFrames can be constructed from a wide array of sources such as structured data files, tables in Hive, external databases, or existing RDDs.

DataFrame with exception PySpark DataFrames are distributed in the cluster (meaning the data in DataFrameâ€™s are stored in different machines in a cluster) and any operations in PySpark executes in parallel on all machines whereas Panda Dataframe stores and operates on a single machine.

In [6]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [8]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

# pyspark with sql

In [ ]:
# pyspark with sql 
#df.createOrReplaceTempView("PERSON_DATA")
#df2 = spark.sql("SELECT * from PERSON_DATA")
#df2.printSchema()
#df2.show()

# groupby in spark

In [10]:
# groupDF = spark.sql("SELECT gender, count(*) from PERSON_DATA group by gender")
# groupDF.show()

In [ ]:
#rdd

In [11]:

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [16]:
dfFromRDD1 = rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: string (nullable = true)
 |-- _5: string (nullable = true)
 |-- _6: long (nullable = true)

In [18]:
dfFromRDD1.show()

+--------+-----------+--------+----------+---+----+
|language|users_count|      _3|        _4| _5|  _6|
+--------+-----------+--------+----------+---+----+
|   James|           |   Smith|1991-04-01|  M|3000|
| Michael|       Rose|        |2000-05-19|  M|4000|
|  Robert|           |Williams|1978-09-05|  M|4000|
|   Maria|       Anne|   Jones|1967-12-01|  F|4000|
|     Jen|       Mary|   Brown|1980-02-17|  F|  -1|
+--------+-----------+--------+----------+---+----+

In [17]:
columns = ["language","users_count"]
dfFromRDD1 = rdd.toDF(columns)
dfFromRDD1.printSchema()

root
 |-- language: string (nullable = true)
 |-- users_count: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: string (nullable = true)
 |-- _5: string (nullable = true)
 |-- _6: long (nullable = true)