In [ ]:
# find distinc of department from table
select distinct(DEPARTMENT) from Worker;

In [ ]:
#print the first three characters of  FIRST_NAME 
select substring(FIRST_NAME,1,3) from Worker;

In [ ]:
#remove white space from the first name. it is done by useing the ltrim and rtrim key words 
select rtrim(FIRST_NAME) from Worker;

In [ ]:
# concat fisrt and last name sperate a space and show as complete name
 select concat(FIRST_NAME,' ',LAST_NAME) as complete from Worker;

In [ ]:
# order by
select * from Worker order by FIRST_NAME asc,DEPARTMENT desc;

In [ ]:
#where
select * from Worker where FIRST_NAME NOT IN('Amitabh');

In [ ]:
#where salary  between 
select * from Worker where SALARY between 80000 and 200000;

In [ ]:
#select salary
select concat(FIRST_NAME,' ',LAST_NAME) as name,WORKER_ID,SALARY from Worker where SALARY between 50000 AND 100000;

In [ ]:
#select 5th highest salary
SELECT Salary,FIRST_NAME FROM Worker ORDER BY Salary DESC LIMIT 4,1;
#for nth 
SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1;